<h1>Customers</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
        <th scope="col">Employee</th>
        <th scope="col">Debt</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.identification %></td>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= customer.address %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.gender %></td>
          <td><%= customer.employee.full_name %></td>
          <td><%= customer.full_debt %></td>
          <td><%= link_to 'Show', customer, class: 'btn btn-link' %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-link' %></td>
          <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= will_paginate @customers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
<!-- <%= page_entries_info @customers %> -->
