<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'CONDE', root_path, class: 'navbar-brand' %>
  <% if current_user %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employees
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'New Employee', new_employee_path, class: "dropdown-item" %>
            <%= link_to 'Full list', employees_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Customers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'New Customer', new_customer_path, class: "dropdown-item" %>
            <%= link_to 'Full list', customers_path, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.username %>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to 'My profile', profile_url, class: 'dropdown-item' %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>
</nav>
<div id="flash">
  <% flash.each do |key, value| %>
    <!-- <%= content_tag :div, value, id: "flash-#{key}", class: "alert alert-success" if flash[:notice] %> -->
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <strong>Great! </strong><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-right:80">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry! </strong><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-right:80">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
